body{
    width: 100%;
    background-color:#2e2d2d;
    color: #ffffff;
    margin: 0px;
  }
  #name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color:#000000;
    border-radius: 20px;
    padding: 5px;
    border-right: 20px;
    text-align: center;
    color: navy;
  }
  #links a{
    color:navy;
    text-decoration: none;
    width: 170px;;
  }
  #perfil{
    padding: 50px;
  }
  .perfil1{
    float:left;
    background-color: blue;
    padding: 20px;
    border-radius: 30px;
  }
  .perfil2{
    padding-left:450px;
    position:absolute;
    width:50%;
  }
  #links li{
    border: 3px solid black;
    border-radius: 5px;
    padding-right: 3px;
    background-color: gold;
    width:max-content;
    font-size: 20px;
  }
  saa{
    color:navy;
    text-decoration: none;
    background-color: #000000 ;
    border: 3px solid rgb(234, 243, 113);
  }
  h3{
    background-color: #020201;
  }
  .dtag{
    font-style:italic;
    font-weight:bold;
    color: #f5f7a4;
  }
  .habil{
    font-size: 22px;
    color: gold;
  }
  #links li:hover{
    font-size: 120%;
    background-color: black;
    color: rgb(255, 255, 255);
  }
  #final{
    clear: both;
    padding: 50px;
  }
  #foto{
    border-radius: 30px;
  }